#*.fodt filter=clean-odf-flat-xml
#*.fodp filter=clean-odf-flat-xml
#*.fodg filter=clean-odf-flat-xml
#*.fods filter=clean-odf-flat-xml
#*.xslt filter=clean-xml
#*.svg filter=clean-svg
#*.html filter=clean-html
#*.xhtml filter=clean-html
#*.htm filter=clean-html
#*.css filter=clean-css-csstidy
#*.css filter=clean-css-cssbeautify