[filter "clean-fodt"]
	clean = \"Git Clean and Smudge Filters/clean-fodt.bash\"

[filter "clean-xml"]
	clean = \"Git Clean and Smudge Filters/clean-xml.bash\"

[filter "clean-svg"]
	clean = \"Git Clean and Smudge Filters/clean-svg.bash\"

[filter "clean-css-cssbeautify"]
	clean = \"Git Clean and Smudge Filters/clean-css.cssbeautify.bash\"

[filter "clean-css-csstidy"]
	clean = \"Git Clean and Smudge Filters/clean-css.csstidy.bash\"

[filter "clean-html"]
	clean = \"Git Clean and Smudge Filters/clean-html.bash\"
